.nav-link{
    color: white;
}
.navbar-nav .nav-link.active{
    color: tomato;
}
.nav-link:focus, .nav-link:hover{
    color: #ff6347;
}

.container{
    width: 85%;
}

.home-section{
    background-image: url(../images/circle-scatter-haikei.svg);
    background-position: center;
    background-size: cover;
}
.right-header img{
    background-image: url(../images/blob-haikei.svg);
    background-position: center;
    background-size: cover;
}
.header-width{
    max-width: 500px;
}